@using Project_2._2_MVC.Models;
@using Project_2._2_MVC;
@{
    var db = new MusicWeb_DBEntities();
    var slideitems = db.slideshowitem.Where(p=>p.IsActivated==true).ToList<slideshowitem>();     
    
    
}
<section class="slideshow-box">
		<section class="my-slide">
			<section class="my-slide-progress-bar">
				<section class="my-slide-progress-value"></section>
			</section>
			<section class="slide-button slide-button-left"></section>
			<section class="my-slide-body">
				<ul>
                @foreach (var item in slideitems)
                {
                    var index = slideitems.IndexOf(item);
					<li thumUrl="@util.getslideshowThumbRootPath(item.images)" class="slide-item slide-item-deactive" index="@index+1"><a href="@item.link" ><img src="@util.getslideshowImageRootPath(item.images)" class="slide-item-image"/></a></li>
                }

					@*<li class="slide-item slide-item-deactive" index="2"><a href="#" ><img src="images/slideshow/slide2.jpg" class="slide-item-image" /></a></li>
					<li class="slide-item slide-item-deactive" index="3"><a href="#" ><img src="images/slideshow/slide3.jpg" class="slide-item-image" /></a></li>
					<li class="slide-item slide-item-deactive" index="4"><a href="#" ><img src="images/slideshow/slide1.jpg" class="slide-item-image" /></a></li>
					<li class="slide-item slide-item-deactive" index="5"><a href="#" ><img src="images/slideshow/slide4.jpg" class="slide-item-image"/></a></li>
					<li class="slide-item slide-item-deactive" index="6"><a href="#" ><img src="images/slideshow/slide2.jpg" class="slide-item-image" /></a></li>
					<li class="slide-item slide-item-deactive" index="7"><a href="#" ><img src="images/slideshow/slide3.jpg" class="slide-item-image" /></a></li>
					<li class="slide-item slide-item-deactive" index="8"><a href="#" ><img src="images/slideshow/slide1.jpg" class="slide-item-image" /></a></li>
					<li class="slide-item slide-item-deactive" index="9"><a href="#" ><img src="images/slideshow/slide4.jpg" class="slide-item-image"/></a></li>
					<li class="slide-item slide-item-deactive" index="10"><a href="#" ><img src="images/slideshow/slide2.jpg" class="slide-item-image" /></a></li>
					<li class="slide-item slide-item-deactive" index="11"><a href="#" ><img src="images/slideshow/slide3.jpg" class="slide-item-image" /></a></li>
					<li class="slide-item slide-item-deactive" index="13"><a href="#" ><img src="images/slideshow/slide1.jpg" class="slide-item-image" /></a></li>*@
				
				</ul>
			</section>
			<section class="my-slide-footer">
			
					
			</section>
			<section class="slide-button slide-button-right rotate-180-deg"></section>
		</section>
	</section>
<script>
    $(document).ready(function () {

    });
</script>