@{
    ViewBag.Title = "SongPlaylist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <div style="margin-top:80px"></div>
				
			<section class="content-left">
                				<div class="content-item-box">
				
					<section class="content-item-box-wrapper">
							<section class="content-item-box-title"> 
								<section class="content-item-box-title-left h2">
									 Out of control
								</section>
								
								<section class="clear-both"></section>
							</section>
							<section class="content-item-box-content">
								<div id="player" class="media-player" type="playlist">
									<div class="video-container">
										<div class="video-loading ">
											<span class="turn-a-round  icon-spinner3"></span>
										</div>
										<video src="https://r11---sn-i3b7sn7e.googlevideo.com/videoplayback?requiressl=yes&shardbypass=yes&cmbypass=yes&id=e3f9a0220f074a6e&itag=22&source=picasa&ip=123.30.128.151&ipbits=0&expire=1411213372&sparams=cmbypass,expire,id,ip,ipbits,itag,requiressl,shardbypass,source&signature=3729F7F68C8EA84B3FBC1EC2A2137A35E80CFB61.842878E772ECEF63F7014371F94A3916F9E73E00&key=cms1&mm=30&ms=nxu&mt=1408621358" poster="images/video-thumbs/demo-thumb.jpg" height="0" type="audio">
											
										</video>
										<div class="playing-background">
											<img src="images/video-thumbs/demo-thumb.jpg" class="img-poster"/>
											<div class="clear-both"></div>
										</div>
										
										<div class="playing-playlist">
											<ul class="horizontal-music-list">

												<li class="item playing" src="http://download-hcm.24hstatic.com/uploadmusic2/e44823f6cfe9d37405e0873d85e0371d/53f51372/uploadmusic/Nhac%20Au%20My/Enrique%20Iglesias/Euphoria/128kbps/Why%20Not%20Me.mp3?download=true">
														
														<div class="ranking-number icon-play2"></div>
														<div class="title">
															<a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
														</div>
														<div class="singers">                   
															<a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
														</div>
														<section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
												
												</li>
												
												<li class="item playing" src="http://download-hcm.24hstatic.com/uploadmusic2/e44823f6cfe9d37405e0873d85e0371d/53f51372/uploadmusic/Nhac%20Au%20My/Enrique%20Iglesias/Euphoria/128kbps/Why%20Not%20Me.mp3?download=true">
														
														<div class="ranking-number icon-play2"></div>
														<div class="title">
															<a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
														</div>
														<div class="singers">                   
															<a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
														</div>
														<section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
												
												</li>
												
												<li class="item playing" src="http://download-hcm.24hstatic.com/uploadmusic2/e44823f6cfe9d37405e0873d85e0371d/53f51372/uploadmusic/Nhac%20Au%20My/Enrique%20Iglesias/Euphoria/128kbps/Why%20Not%20Me.mp3?download=true">
														
														<div class="ranking-number icon-play2"></div>
														<div class="title">
															<a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
														</div>
														<div class="singers">                   
															<a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
														</div>
														<section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
												
												</li>
												
												<li class="item playing" src="http://download-hcm.24hstatic.com/uploadmusic2/e44823f6cfe9d37405e0873d85e0371d/53f51372/uploadmusic/Nhac%20Au%20My/Enrique%20Iglesias/Euphoria/128kbps/Why%20Not%20Me.mp3?download=true">
														
														<div class="ranking-number icon-play2"></div>
														<div class="title">
															<a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
														</div>
														<div class="singers">                   
															<a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
														</div>
														<section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
												
												</li>
												
												<li class="item playing" src="http://download-hcm.24hstatic.com/uploadmusic2/e44823f6cfe9d37405e0873d85e0371d/53f51372/uploadmusic/Nhac%20Au%20My/Enrique%20Iglesias/Euphoria/128kbps/Why%20Not%20Me.mp3?download=true">
														
														<div class="ranking-number icon-play2"></div>
														<div class="title">
															<a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
														</div>
														<div class="singers">                   
															<a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
														</div>
														<section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
												
												</li>
												
												<li class="item playing" src="http://download-hcm.24hstatic.com/uploadmusic2/e44823f6cfe9d37405e0873d85e0371d/53f51372/uploadmusic/Nhac%20Au%20My/Enrique%20Iglesias/Euphoria/128kbps/Why%20Not%20Me.mp3?download=true">
														
														<div class="ranking-number icon-play2"></div>
														<div class="title">
															<a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
														</div>
														<div class="singers">                   
															<a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
														</div>
														<section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
												
												</li>
												
												<li class="item playing" src="http://download-hcm.24hstatic.com/uploadmusic2/e44823f6cfe9d37405e0873d85e0371d/53f51372/uploadmusic/Nhac%20Au%20My/Enrique%20Iglesias/Euphoria/128kbps/Why%20Not%20Me.mp3?download=true">
														
														<div class="ranking-number icon-play2"></div>
														<div class="title">
															<a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
														</div>
														<div class="singers">                   
															<a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
														</div>
														<section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
												
												</li>
												
												<li class="item playing" src="http://download-hcm.24hstatic.com/uploadmusic2/e44823f6cfe9d37405e0873d85e0371d/53f51372/uploadmusic/Nhac%20Au%20My/Enrique%20Iglesias/Euphoria/128kbps/Why%20Not%20Me.mp3?download=true">
														
														<div class="ranking-number icon-play2"></div>
														<div class="title">
															<a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
														</div>
														<div class="singers">                   
															<a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
															<a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
														</div>
														<section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
												
												</li>
												
												
										
											
											
											
											</ul>
										</div>
										
										<div class="clear-both"></div>
									</div>

									<div class="control-bar">
										<div class="progress">
											<div class="play-progress">
												<span class="playing-node  icon-diamonds" ></span>
											</div>
										    <div class="load-progress"></div>
											
										</div>
										<div class="control-wrapper">
											<div class="control-left">
												<div class="play-pause icon-play2"></div>
												<div class="time">
													<span class="ctime">00:00</span> 
													<span class="stime"> / </span>
													<span class="ttime">00:00</span>
												</div>
												<div class="clear-both"></div>
											</div>
											<div  class="control-right">
												<div class="previous icon-first"></div>
												<div class="next icon-last"></div>
												<div class="volume icon-volume-low">
												   <div class="volume-holder">
													 <div class="volume-node icon-stop2"></div>
												   </div>
												</div>
												
												<div class="fullscreen icon-expand"> 
												</div>
												<div class="clear-both"></div>
											</div>
											<div class="clear-both"></div>
										</div>
									</div>
									
									<div class="clear-both"></div>
								</div>
								<div class="playing-info">
										<div class="name-value views">
											<span class="name "></span>
											<span class="value icon-headphones">30</span>
										</div>
										<div actived class="toolbt icon-thumbs-up like-bt">
										</div>
										<div class="toolbt icon-star  favorite-bt">
										</div>
										<br/>
										<div class="name-value">
											<span class="name">Thể loại :</span>
										</div>
										<div class="img-value">
											<a href="#" title="ca si">
												<div class="img-value-wrapper">
													<img src="images/video-thumbs/demo-thumb.jpg">
												</div>
											</a>
											<a href="#" title="ca si">
												<div class="img-value-wrapper">
													<img src="images/video-thumbs/demo-thumb.jpg">
												</div>
											</a>
											<a href="#" title="ca si">
												<div class="img-value-wrapper">
													<img src="images/video-thumbs/demo-thumb.jpg">
												</div>
											</a>
										</div>
										<div class="name-value">
											<span class="name">Thông tin thêm :</span>
											<div class="collapsable" collapsed collParent="moreinfo">
												<p class="value collapse-content"  collParent="moreinfo">
													thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết 
													
												</p>
												<span class="collapse"  collParent="moreinfo">
													<span class="collapsebt"></span>
												</span>
											</div>
										</div>
										<div class="name-value">
											<span class="name">Lời bài hát :</span>
											<div class="collapsable" collapsed  collParent="lyric">
												<p class="value collapse-content" collParent="lyric">
													thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết thông tin thêm về người bạn cần biết 
													
												</p>
												<span class="collapse" collParent="lyric">
													<span class="collapsebt"></span>
												</span>
											</div>
										</div>
								
										<div class="clear-both"></div>
									</div>
								<section class="comment-box collapsable" collParent="comments">
									
									<section class="title  icon-bubbles">
										 Cảm nhận
									</section>
									<section class="clear-both"></section>
									<ul class="comments-list collapse-content" collParent="comments">
										<li class="comment-item comment-input">
											<img src="images/video-thumbs/demo-thumb.jpg"  class="avatar" />
											<textarea class="comment-item-content" placeholder="Bạn nghĩ gì ?"></textarea>
											<p><a href="#" class="post-comment">Đăng</a></p>
											<div class="clear-both"></div>
										</li>
										<li class="comment-item " >
											<div class="collapsable" collParent="comment-items">
												<img src="images/video-thumbs/demo-thumb.jpg"  class="avatar" />
												<p class="comment-item-title">
													<a href="#">Thuan</a> đã chia sẽ cảm nhận vào 11-1-2014
												</p>
												<p class="comment-item-content collapse-content" collParent="comment-items">This is my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2 
												
												
												</p>
												<p class="comment-item-response"><a href="#">Trả lời</a></p>
												<span class="collapse" collParent="comment-items">
													<span class="collapsebt"></span>
												</span>
											</div>
											<div class="clear-both"></div>

											<div class="collapsable" collParent="comment-items-children">
												<ul class="comments-list collapse-content" collParent="comment-items-children">
													
													<li class="comment-item collapsable" collParent="comment-items-children-item">
													
														<img src="images/video-thumbs/demo-thumb.jpg"  class="avatar" />
														<p class="comment-item-title">
															<a href="#">Thuan</a> đã chia sẽ cảm nhận vào 11-1-2014
														</p>
														<p class="comment-item-content collapse-content" collParent="comment-items-children-item">Thi eate ment 2This isThis is my statement one This is my stateme my statement one This is my stateme my statement one This is This is my statement one This is my stateme my statement one This is my stateme my statement one This is This is my statement one This is my stateme my statement one This is my stateme my statement one This is This is my statement one This is my stateme my statement one This is my stateme my statement one This is  my statement2 </p>
														<span class="collapse" collParent="comment-items-children-item">
															<span class="collapsebt"></span>
														</span>
														<div class="clear-both"></div>
														<p class="comment-item-response"><a href="#">Trả lời</a></p>
														
														<div class="clear-both"></div>
														
													</li>
													<li class="comment-item collapsable" collParent="comment-items-children-item">
													
														<img src="images/video-thumbs/demo-thumb.jpg"  class="avatar" />
														<p class="comment-item-title">
															<a href="#">Thuan</a> đã chia sẽ cảm nhận vào 11-1-2014
														</p>
														<p class="comment-item-content collapse-content" collParent="comment-items-children-item">Thi eate ment 2This is my statement2 </p>
														<span class="collapse" collParent="comment-items-children-item">
															<span class="collapsebt"></span>
														</span>
														<div class="clear-both"></div>
														<p class="comment-item-response"><a href="#">Trả lời</a></p>
														
														<div class="clear-both"></div>
														
													</li>
													<li class="comment-item collapsable" collParent="comment-items-children-item">
													
														<img src="images/video-thumbs/demo-thumb.jpg"  class="avatar" />
														<p class="comment-item-title">
															<a href="#">Thuan</a> đã chia sẽ cảm nhận vào 11-1-2014
														</p>
														<p class="comment-item-content collapse-content" collParent="comment-items-children-item">Thi eate ment 2This is my statement2 </p>
														<span class="collapse" collParent="comment-items-children-item">
															<span class="collapsebt"></span>
														</span>
														<div class="clear-both"></div>
														<p class="comment-item-response"><a href="#">Trả lời</a></p>
														
														<div class="clear-both"></div>
														
													</li>
													<li class="comment-item collapsable" collParent="comment-items-children-item">
													
														<img src="images/video-thumbs/demo-thumb.jpg"  class="avatar" />
														<p class="comment-item-title">
															<a href="#">Thuan</a> đã chia sẽ cảm nhận vào 11-1-2014
														</p>
														<p class="comment-item-content collapse-content" collParent="comment-items-children-item">Thi eate ment 2This is my statement2 </p>
														<span class="collapse" collParent="comment-items-children-item">
															<span class="collapsebt"></span>
														</span>
														<div class="clear-both"></div>
														<p class="comment-item-response"><a href="#">Trả lời</a></p>
														
														<div class="clear-both"></div>
														
													</li>
													<li class="comment-item collapsable" collParent="comment-items-children-item">
													
														<img src="images/video-thumbs/demo-thumb.jpg"  class="avatar" />
														<p class="comment-item-title">
															<a href="#">Thuan</a> đã chia sẽ cảm nhận vào 11-1-2014
														</p>
														<p class="comment-item-content collapse-content" collParent="comment-items-children-item">Thi eate ment 2This is my statement2 </p>
														<span class="collapse" collParent="comment-items-children-item">
															<span class="collapsebt"></span>
														</span>
														<div class="clear-both"></div>
														<p class="comment-item-response"><a href="#">Trả lời</a></p>
														
														<div class="clear-both"></div>
														
													</li>
													<div class="clear-both"></div>
													<span class="collapse" collParent="comment-items-children">
														<span class="collapsebt"></span>
													</span>
												</ul>
												
											</div>	
														
															
										</li>	
										<li class="comment-item " >
											<div class="collapsable" collParent="comment-items">
												<img src="images/video-thumbs/demo-thumb.jpg"  class="avatar" />
												<p class="comment-item-title">
													<a href="#">Thuan</a> đã chia sẽ cảm nhận vào 11-1-2014
												</p>
												<p class="comment-item-content collapse-content" collParent="comment-items">This is my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2 
												
												
												</p>
												<p class="comment-item-response"><a href="#">Trả lời</a></p>
												<span class="collapse" collParent="comment-items">
													<span class="collapsebt"></span>
												</span>
											</div>
											<div class="clear-both"></div>

											
															
										</li>	
										<li class="comment-item " >
											<div class="collapsable" collParent="comment-items">
												<img src="images/video-thumbs/demo-thumb.jpg"  class="avatar" />
												<p class="comment-item-title">
													<a href="#">Thuan</a> đã chia sẽ cảm nhận vào 11-1-2014
												</p>
												<p class="comment-item-content collapse-content" collParent="comment-items">This is my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2 
												
												
												</p>
												<p class="comment-item-response"><a href="#">Trả lời</a></p>
												<span class="collapse" collParent="comment-items">
													<span class="collapsebt"></span>
												</span>
											</div>
											<div class="clear-both"></div>

											
															
										</li>	
										<li class="comment-item " >
											<div class="collapsable" collParent="comment-items">
												<img src="images/video-thumbs/demo-thumb.jpg"  class="avatar" />
												<p class="comment-item-title">
													<a href="#">Thuan</a> đã chia sẽ cảm nhận vào 11-1-2014
												</p>
												<p class="comment-item-content collapse-content" collParent="comment-items">This is my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2 
												
												
												</p>
												<p class="comment-item-response"><a href="#">Trả lời</a></p>
												<span class="collapse" collParent="comment-items">
													<span class="collapsebt"></span>
												</span>
											</div>
											<div class="clear-both"></div>

											
															
										</li>	
										<li class="comment-item " >
											<div class="collapsable" collParent="comment-items">
												<img src="images/video-thumbs/demo-thumb.jpg"  class="avatar" />
												<p class="comment-item-title">
													<a href="#">Thuan</a> đã chia sẽ cảm nhận vào 11-1-2014
												</p>
												<p class="comment-item-content collapse-content" collParent="comment-items">This is my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2 
												
												
												</p>
												<p class="comment-item-response"><a href="#">Trả lời</a></p>
												<span class="collapse" collParent="comment-items">
													<span class="collapsebt"></span>
												</span>
											</div>
											<div class="clear-both"></div>

											
															
										</li>	
										<li class="comment-item " >
											<div class="collapsable" collParent="comment-items">
												<img src="images/video-thumbs/demo-thumb.jpg"  class="avatar" />
												<p class="comment-item-title">
													<a href="#">Thuan</a> đã chia sẽ cảm nhận vào 11-1-2014
												</p>
												<p class="comment-item-content collapse-content" collParent="comment-items">This is my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my stateme my statement one This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2This is my statement2 
												
												
												</p>
												<p class="comment-item-response"><a href="#">Trả lời</a></p>
												<span class="collapse" collParent="comment-items">
													<span class="collapsebt"></span>
												</span>
											</div>
											<div class="clear-both"></div>

											
															
										</li>	
										
										<div class="clear-both"></div>
									
									</ul>
									<div class="load-more-box" >
										<div class="load-more">Xem thêm nhiều cảm nhận khác</div>
										<div class="collapse show">												
										
											<span class="collapsebt"></span>
										
										</div>
										<div class="clear-both"></div>
									</div>

									<div class="clear-both"></div>
								</section>
								<div class="clear-both"></div>

							</section>
					</section>
                </div>
					<script>
					    $("body").initCollapse();
					    //	$(".media-palyer").videoPlayer();
					</script>
				<section class="content-item-box">
					<section class="content-item-box-wrapper">
						<section class="content-item-box-title"> 
							<section class="content-item-box-title-left h2">
								 Bài hát mới
							</section>
							<a href="#" >
								<section class="content-item-box-title-right h9-hover" title="Xem thêm nhiều ca khúc khác">
									Xem thêm →
								
								</section>
							</a>
							<section class="clear-both"></section>
						</section>
						<section class="content-item-box-content">
							<ul class="vertical-list-container">
								<li class="music-list-item">
									<section class="music-list-item-left">
										<a href="choinhac.html" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
										<span class="music-list-item-left-spliter" >-</span>
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
									</section>
									<section  class="music-list-item-right">
										<section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
										<section class="music-list-item-toolbox">
											<a href="#" ><section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section></a>
											<a href="#" ><section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section></a>
										</section>
									</section>
									<section class="clear-both"></section>
								</li>
								<li class="music-list-item">
									<section class="music-list-item-left">
										<a href="choinhac.html" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
										<span class="music-list-item-left-spliter" >-</span>
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
									</section>
									<section  class="music-list-item-right">
										<section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
										<section class="music-list-item-toolbox">
											<a href="#" ><section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section></a>
											<a href="#" ><section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section></a>
										</section>
									</section>
									<section class="clear-both"></section>
								</li>
								<li class="music-list-item">
									<section class="music-list-item-left">
										<a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
										<span class="music-list-item-left-spliter" >-</span>
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
									</section>
									<section  class="music-list-item-right">
										<section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
										<section class="music-list-item-toolbox">
											<a href="#" ><section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section></a>
											<a href="#" ><section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section></a>
										</section>
									</section>
									<section class="clear-both"></section>
								</li>
								<li class="music-list-item">
									<section class="music-list-item-left">
										<a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
										<span class="music-list-item-left-spliter" >-</span>
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
									</section>
									<section  class="music-list-item-right">
										<section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
										<section class="music-list-item-toolbox">
											<a href="#" ><section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section></a>
											<a href="#" ><section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section></a>
										</section>
									</section>
									<section class="clear-both"></section>
								</li>
								<li class="music-list-item">
									<section class="music-list-item-left">
										<a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
										<span class="music-list-item-left-spliter" >-</span>
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
									</section>
									<section  class="music-list-item-right">
										<section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
										<section class="music-list-item-toolbox">
											<a href="#" ><section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section></a>
											<a href="#" ><section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section></a>
										</section>
									</section>
									<section class="clear-both"></section>
								</li>
								<li class="music-list-item">
									<section class="music-list-item-left">
										<a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
										<span class="music-list-item-left-spliter" >-</span>
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
									</section>
									<section  class="music-list-item-right">
										<section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
										<section class="music-list-item-toolbox">
											<a href="#" ><section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section></a>
											<a href="#" ><section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section></a>
										</section>
									</section>
									<section class="clear-both"></section>
								</li>
								<li class="music-list-item">
									<section class="music-list-item-left">
										<a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
										<span class="music-list-item-left-spliter" >-</span>
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
									</section>
									<section  class="music-list-item-right">
										<section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
										<section class="music-list-item-toolbox">
											<a href="#" ><section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section></a>
											<a href="#" ><section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section></a>
										</section>
									</section>
									<section class="clear-both"></section>
								</li>
								<li class="music-list-item">
									<section class="music-list-item-left">
										<a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
										<span class="music-list-item-left-spliter" >-</span>
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
									</section>
									<section  class="music-list-item-right">
										<section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
										<section class="music-list-item-toolbox">
											<a href="#" ><section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section></a>
											<a href="#" ><section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section></a>
										</section>
									</section>
									<section class="clear-both"></section>
								</li>
								<li class="music-list-item">
									<section class="music-list-item-left">
										<a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
										<span class="music-list-item-left-spliter" >-</span>
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
									</section>
									<section  class="music-list-item-right">
										<section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
										<section class="music-list-item-toolbox">
											<a href="#" ><section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section></a>
											<a href="#" ><section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section></a>
										</section>
									</section>
									<section class="clear-both"></section>
								</li>
								<li class="music-list-item">
									<section class="music-list-item-left">
										<a href="#" class="h8-hover music-list-item-title" title="Bài hát What is the title of the song">What is the title of the song</a>
										<span class="music-list-item-left-spliter" >-</span>
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ first singer">first singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ second singer">second singer</a> ,
										<a href="#" class="h10-hover music-list-item-singers" title="Ca sĩ third singer">third singer</a>
									</section>
									<section  class="music-list-item-right">
										<section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
										<section class="music-list-item-toolbox">
											<a href="#" ><section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section></a>
											<a href="#" ><section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section></a>
										</section>
									</section>
									<section class="clear-both"></section>
								</li>
							
								<!--
									<li class="music-list-item">
										<section class="music-list-item-left">
											<section class="music-list-item-title">
												<a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the titlsdddddddde of the song</a>
											</section>
											<section class="music-list-item-left-spliter" >-</section>
											<section class="music-list-item-singers" title="Ca khúc được trình bày bởi first singer, second singer và third singer">
												<a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
												<a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
												<a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
											</section>
										</section>
										<section class="music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
										<section class="music-list-item-toolbox">
											<a href="#" ><section class="music-list-item-toolbox-playlist music-list-item-toolbox-item" title="Thêm bài hát này vào playlist của bạn"></section></a>
											<a href="#" ><section class="music-list-item-toolbox-download music-list-item-toolbox-item" title="Tải bài hát này về máy"></section></a>
										</section>
										<section class="clear-both"></section>
									</li>
								
									<section class="music-list-item-spliter" ></section>
								
								-->
							
							
							</ul>
						</section>
<!--                        <div class="load-more-box" >
                            <div class="load-more">Xem thêm</div>
                            <div class="hide active">Thu gọn</div>
                            <div class="show ">Mở rộng</div>
                        </div>-->
					</section>
				</section>
				<section class="content-item-box">
					<section class="content-item-box-wrapper">
						<section class="content-item-box-title"> 
							<section class="content-item-box-title-left h2">
								 Video mới
							</section>
							<a href="#" >
								<section class="content-item-box-title-right h9-hover" title="Xem thêm nhiều ca khúc khác">
									Xem thêm →
									<section class="rotate-90-deg more-arrow"></section>
								</section>
							</a>
							<section class="clear-both"></section>
						</section>
						<section class="content-item-box-content">
							<ul class="horizontal-list-container video-list">
								<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
								<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
								<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
								<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
								<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
								
															
															<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
															<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
															<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
															<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
															<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
															<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
															<li class="video-list-item">
								
									<a href="#" title="Title goes here Title goes here  !!!">
										<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

									</a>
									<section class="video-list-item-info-box-wrapper">
										<section class="video-list-item-info-box">
											<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
											<section class="video-list-item-author" title="Video này đã được username chia sẽ">
												<span class="h12">Đăng bởi :</span>
												<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
											</section>
											<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
												3.000.000.000
											</section>
										</section>
									</section>
								</li>
												
							
							</ul>
							<section class="clear-both"></section>
						</section>
					</section>
				</section>
			    <section class="content-item-box">
				    <section class="content-item-box-wrapper">
					    <section class="content-item-box-title"> 
						    <section class="content-item-box-title-left h2">
							     Album-Playlist mới
						    </section>
						    <a href="#" >
							    <section class="content-item-box-title-right h9-hover" title="Xem thêm nhiều video khác">
								    Xem thêm →
								    <section class="rotate-90-deg more-arrow"></section>
							    </section>
						    </a>
						    <section class="clear-both"></section>
					    </section>
                        <section class="content-item-box-content">
                            <ul class="horizontal-list-container playlist-list">
                                <li class="playlist-list-item">

                                    <a href="#" class="playlist-list-item-thumb" title="Title goes here Title goes here  !!!">
                                        <img src="images/playlist-thumbs/playlist.jpg" alt="image" />
                                    </a>
                                    <section class="playlist-list-item-info-box-wrapper">
                                        <section class="video-list-item-info-box">
                                            <div class="playlist-list-item-title">
                                                <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the title of the song</a>
                                            </div>
                                            <section class="playlist-singer">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </section>
                                    </section>
                                </li>
                                                            <li class="playlist-list-item">

                                    <a href="#" class="playlist-list-item-thumb" title="Title goes here Title goes here  !!!">
                                        <img src="images/playlist-thumbs/playlist.jpg" alt="image" />
                                    </a>
                                    <section class="playlist-list-item-info-box-wrapper">
                                        <section class="video-list-item-info-box">
                                            <div class="playlist-list-item-title">
                                                <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the title of the song</a>
                                            </div>
                                            <section class="playlist-singer">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </section>
                                    </section>
                                </li>
                                                            <li class="playlist-list-item">

                                    <a href="#" class="playlist-list-item-thumb" title="Title goes here Title goes here  !!!">
                                        <img src="images/playlist-thumbs/playlist.jpg" alt="image" />
                                    </a>
                                    <section class="playlist-list-item-info-box-wrapper">
                                        <section class="video-list-item-info-box">
                                            <div class="playlist-list-item-title">
                                                <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the title of the song</a>
                                            </div>
                                            <section class="playlist-singer">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </section>
                                    </section>
                                </li>
                                                            <li class="playlist-list-item">

                                    <a href="#" class="playlist-list-item-thumb" title="Title goes here Title goes here  !!!">
                                        <img src="images/playlist-thumbs/playlist.jpg" alt="image" />
                                    </a>
                                    <section class="playlist-list-item-info-box-wrapper">
                                        <section class="video-list-item-info-box">
                                            <div class="playlist-list-item-title">
                                                <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the title of the song</a>
                                            </div>
                                            <section class="playlist-singer">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </section>
                                    </section>
                                </li>
                                                            <li class="playlist-list-item">

                                    <a href="#" class="playlist-list-item-thumb" title="Title goes here Title goes here  !!!">
                                        <img src="images/playlist-thumbs/playlist.jpg" alt="image" />
                                    </a>
                                    <section class="playlist-list-item-info-box-wrapper">
                                        <section class="video-list-item-info-box">
                                            <div class="playlist-list-item-title">
                                                <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the title of the song</a>
                                            </div>
                                            <section class="playlist-singer">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </section>
                                    </section>
                                </li>
                                                            <li class="playlist-list-item">

                                    <a href="#" class="playlist-list-item-thumb" title="Title goes here Title goes here  !!!">
                                        <img src="images/playlist-thumbs/playlist.jpg" alt="image" />
                                    </a>
                                    <section class="playlist-list-item-info-box-wrapper">
                                        <section class="video-list-item-info-box">
                                            <div class="playlist-list-item-title">
                                                <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the title of the song</a>
                                            </div>
                                            <section class="playlist-singer">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </section>
                                    </section>
                                </li>
                                                            <li class="playlist-list-item">

                                    <a href="#" class="playlist-list-item-thumb" title="Title goes here Title goes here  !!!">
                                        <img src="images/playlist-thumbs/playlist.jpg" alt="image" />
                                    </a>
                                    <section class="playlist-list-item-info-box-wrapper">
                                        <section class="video-list-item-info-box">
                                            <div class="playlist-list-item-title">
                                                <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the title of the song</a>
                                            </div>
                                            <section class="playlist-singer">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </section>
                                    </section>
                                </li>
                                                            <li class="playlist-list-item">

                                    <a href="#" class="playlist-list-item-thumb" title="Title goes here Title goes here  !!!">
                                        <img src="images/playlist-thumbs/playlist.jpg" alt="image" />
                                    </a>
                                    <section class="playlist-list-item-info-box-wrapper">
                                        <section class="video-list-item-info-box">
                                            <div class="playlist-list-item-title">
                                                <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What is the title of the song</a>
                                            </div>
                                            <section class="playlist-singer">
                                                <section class="h11 music-list-item-views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
                                            </section>
                                            <section class="clear-both"></section>
                                        </section>
                                    </section>
                                </li>
                            </ul>
                        </section>
				    </section>
				
			    </section>

			</section>
			<div class="vertical-spliter"></div>
			<section class="content-right">
                <a href="#">
					<img src="images/ads-images/ads1.gif" alt="Advertising image" class="ads-image"/>
				</a>
				<section class="clear-both"></section>      
                <div class="aside-item-spliter"></div>
				<div class="content-aside-box">
					<div class="content-wrapper">
             
						<div class="content-title"> 
							<a href="#" class=" h9 content-item-box-title-left">
								 Top bài hát
							</a>
							<section class="clear-both"></section>
						</div>

						<ul class="horizontal-music-list">
						

					 	    <li class="item">
							
								    <div class="ranking-number">1</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
								    </div>
								    <div class="singers">                   
									    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
								    </div>
								    <section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
							
							</li>
                            
					
						
							<li class="item">
							
								    <div class="ranking-number">2</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
								    </div>
								    <div class="singers">                   
									    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
								    </div>
								    <section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
							
							</li>
                            
						
							<li class="item">
							
								    <div class="ranking-number">3</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
								    </div>
								    <div class="singers">                   
									    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
								    </div>
								    <section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
							
							</li>
                            
						
							<li class="item">
							
								    <div class="ranking-number">4</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
								    </div>
								    <div class="singers">                   
									    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
								    </div>
								    <section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
							
							</li>
                            
						
							<li class="item">
							
								    <div class="ranking-number">5</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
								    </div>
								    <div class="singers">                   
									    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
								    </div>
								    <section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
							
							</li>
                            
						
							<li class="item">
							
								    <div class="ranking-number">6</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
								    </div>
								    <div class="singers">                   
									    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
								    </div>
								    <section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
							
							</li>
                            						
							<li class="item">
							
								    <div class="ranking-number">7</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
								    </div>
								    <div class="singers">                   
									    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
								    </div>
								    <section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
							
							</li>
                            						
							<li class="item">
							
								    <div class="ranking-number">8</div>
								    <div class="title">
									    <a href="#" class="h8-hover" title="Bài hát What is the title of the song">What issssssss the title of the song</a>
								    </div>
								    <div class="singers">                   
									    <a href="#" class="h10-hover" title="Ca sĩ first singer">first singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ second singer">second singer</a> ,
									    <a href="#" class="h10-hover" title="Ca sĩ third singer">third singer</a>
								    </div>
								    <section class="views" title="Bài hát được nghe 3.000.000.000 lượt">3.000.000.000</section>
							
							</li>
						
						</ul>

					</div>
				</div>	
                <div class="aside-item-spliter"></div>			
                <div class="content-aside-box">
					<div class="content-wrapper">
             
						<div class="content-title"> 
							<a href="#" class=" h9 content-item-box-title-left">
								 Top video
							</a>
							<section class="clear-both"></section>
						</div>
                        <ul class="horizontal-music-list video-list">
							<li class="aside-video-list-item">
								
								<a href="#" title="Title goes here Title goes here  !!!">
									<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

								</a>
								<section class="video-list-item-info-box-wrapper">
									<section class="video-list-item-info-box">
										<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
										<section class="video-list-item-author" title="Video này đã được username chia sẽ">
											<span class="h12">Đăng bởi :</span>
											<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
										</section>
										<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
											3.000.000.000
										</section>
									</section>
								</section>
							</li>
							<li class="aside-video-list-item">
								
								<a href="#" title="Title goes here Title goes here  !!!">
									<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

								</a>
								<section class="video-list-item-info-box-wrapper">
									<section class="video-list-item-info-box">
										<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
										<section class="video-list-item-author" title="Video này đã được username chia sẽ">
											<span class="h12">Đăng bởi :</span>
											<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
										</section>
										<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
											3.000.000.000
										</section>
									</section>
								</section>
							</li>
								
							<li class="aside-video-list-item">
								
								<a href="#" title="Title goes here Title goes here  !!!">
									<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

								</a>
								<section class="video-list-item-info-box-wrapper">
									<section class="video-list-item-info-box">
										<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
										<section class="video-list-item-author" title="Video này đã được username chia sẽ">
											<span class="h12">Đăng bởi :</span>
											<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
										</section>
										<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
											3.000.000.000
										</section>
									</section>
								</section>
							</li>
								
							<li class="aside-video-list-item">
								
								<a href="#" title="Title goes here Title goes here  !!!">
									<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

								</a>
								<section class="video-list-item-info-box-wrapper">
									<section class="video-list-item-info-box">
										<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
										<section class="video-list-item-author" title="Video này đã được username chia sẽ">
											<span class="h12">Đăng bởi :</span>
											<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
										</section>
										<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
											3.000.000.000
										</section>
									</section>
								</section>
							</li>
								
							<li class="aside-video-list-item">
								
								<a href="#" title="Title goes here Title goes here  !!!">
									<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

								</a>
								<section class="video-list-item-info-box-wrapper">
									<section class="video-list-item-info-box">
										<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
										<section class="video-list-item-author" title="Video này đã được username chia sẽ">
											<span class="h12">Đăng bởi :</span>
											<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
										</section>
										<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
											3.000.000.000
										</section>
									</section>
								</section>
							</li>
								
							<li class="aside-video-list-item">
								
								<a href="#" title="Title goes here Title goes here  !!!">
									<img class="video-list-item-thumb" src="images/video-thumbs/demo-thumb.jpg" alt="image"/>

								</a>
								<section class="video-list-item-info-box-wrapper">
									<section class="video-list-item-info-box">
										<a href="#" class="video-list-item-title h10-hover" title="Title goes here Title goes here  !!!"> Title goes here Title goes here  !!!</a>
										<section class="video-list-item-author" title="Video này đã được username chia sẽ">
											<span class="h12">Đăng bởi :</span>
											<a href="#" class="h11-hover" title="Video này đã được username chia sẽ"> username </a>
										</section>
										<section class="video-list-item-views h11 " title="Video này được xem 3.000.000.000 lần">
											3.000.000.000
										</section>
									</section>
								</section>
							</li>
								

								
												
												
							<div class="clear-both"></div>
						</ul>
							
                        <div class="clear-both"></div>
					</div>
				</div>
                <div class="aside-item-spliter"></div>
				<a href="#" >
					<img src="images/ads-images/ads1.gif" alt="Advertising image" class="ads-image"/>
				</a>
				<section class="clear-both"></section>    
                
			</section>
			<div class="clear-both"></div>
		

